// Copyright 2022 Manna Harbour
// https://github.com/manna-harbour/miryoku

#include "../miryoku/custom_config.h"
#include "../miryoku/mapping/34/ferris.h"

// overriden in custom_config
#undef MIRYOKU_KLUDGE_THUMBCOMBOS

#include "../miryoku/miryoku.dtsi"
