# Copyright 2022 Manna Harbour
# https://github.com/manna-harbour/miryoku

name: 'Build Example corne nice_nano_v2 nice_view'
on: workflow_dispatch
jobs:
  build:
    uses: ./.github/workflows/main.yml
    secrets: inherit
    with:
      alphas: 'QWERTY'
      board: '["nice_nano_v2"]'
      clipboard: 'mac'
      custom_config: 'default'
      extra: 'ColemakDHK'
      kconfig: 'default'
      layers: 'default'
      mapping: 'default'
      nav: 'default'
      shield: '["splitkb_aurora_sweep_left","splitkb_aurora_sweep_right"]'
      tap: 'QWERTY'      
